section {
  width: 100%;
  overflow-x: auto;
  scrollbar-gutter: stable;
}

#day-of-week {
  --filler: 12ch;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  max-width: 700px;
  margin-inline: auto;

  h2 {
    font-size: 1rem;
  }

  @media (max-width: 700px) {
    width: 700px;
  }

  .day-earnings {
    display: flex;

    padding: 2rem;
    text-align: center;

    #day {
      width: var(--filler);

      display: grid;
      grid-template-rows: 2.75rem repeat(7, 1fr);
      place-items: center;
    }

    #earnings {
      flex: 1 0 0;

      display: flex;

      position: relative;
      .list {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        .of-items {
          border-radius: 0.25rem;

          &.hidden {
            opacity: 0;
            pointer-events: none;
          }

          &:is(:hover) {
            background-color: hsl(0 0% 16% / 0.5);

            h2 {
              color: hsl(200 70% 70%);
            }
          }

          & > * {
            padding: 1rem;
            min-width: 12ch;
          }

          .earnings-wrapper {
            &:is(:hover) {
              color: hsl(80 100% 15%);
              background-color: hsl(0 0% 100% / .6);
              font-weight: 900;
            }
          }
        }
      }
    }
  }
}
