---
// layout imports
import MainLayout from "../layout/MainLayout.astro";

// component imports
import Noise from "../components/utility/Noise.astro";
import Background from "../components/utility/Background.astro";
import ToggleButton from "../components/ToggleButton.astro";

// css imports
import "../styles/index.scss";

const res = await fetch(
  "https://script.googleusercontent.com/macros/echo?user_content_key=mdxs14Crs9NoGqOH8yHzm3fXWairMJBikNRlekAri5GcJsJ8m_Ya8LqhKHQsYpow4nkJypr52j5wmG6NFykJN4ulAtsdurVpm5_BxDlH2jW0nuo2oDemN9CCS2h10ox_1xSncGQajx_ryfhECjZEnLKQD0xlRdQNORBeubHhskJtf2UCBubGj2B2xfutiOdgkRnT3lsoHqFVKfrWto-uf_VFUtiN9nc_zwS1fN0fcKGlHOSTBWM63dz9Jw9Md8uu&lib=McmiJzxE192vUTCqyMMT_iInk_TX2PQ6s"
);

const { data } = await res.json();
---
<MainLayout
title="Spreadsheet CMS"
description="Live test of a Spreadsheet CMS with SSR and Vercel.">
  <Noise/>
  <section>
    <h1>Spreadsheet CMS Demo</h1>
    <div id="day-of-week">
      <div class="day-earnings">
        <div id="earnings">
          <div class="list-of-days">
            <p></p>
            <p>Monday</p>
            <p>Thuesday</p>
            <p>Wednesday</p>
            <p>Thursday</p>
            <p>Friday</p>
            <p>Saturday</p>
            <p>Sunday</p>
          </div>
          <Background/>
          {
            data.map((daysData) => (
              <div class="list">
                <ToggleButton/>
                <div class="of-items">
                  <h2 class="current-week">{daysData.week}</h2>
                  {daysData.days.map((dayData) => (
                    <div class="earnings-wrapper">
                      <p class="daily-earning">{dayData.earnings}</p>
                    </div>
                  ))}
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </section>
  <footer class="socials-and-button">
    <button type="button" class="refresh"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M12 20q-3.35 0-5.675-2.325T4 12q0-3.35 2.325-5.675T12 4q1.725 0 3.3.712T18 6.75V4h2v7h-7V9h4.2q-.8-1.4-2.188-2.2T12 6Q9.5 6 7.75 7.75T6 12q0 2.5 1.75 4.25T12 18q1.925 0 3.475-1.1T17.65 14h2.1q-.7 2.65-2.85 4.325T12 20Z"/></svg> Refresh page</button>
    <div class="socials">
      <a href="https://github.com/myntsu/spreadsheet-cms" target="_blank" aria-label="JSON data">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 16 16"><path fill="currentColor" fill-rule="evenodd" d="M14 4.5V11h-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM4.151 15.29a1.176 1.176 0 0 1-.111-.449h.764a.578.578 0 0 0 .255.384c.07.049.154.087.25.114c.095.028.201.041.319.041c.164 0 .301-.023.413-.07a.559.559 0 0 0 .255-.193a.507.507 0 0 0 .084-.29a.387.387 0 0 0-.152-.326c-.101-.08-.256-.144-.463-.193l-.618-.143a1.72 1.72 0 0 1-.539-.214a1.001 1.001 0 0 1-.352-.367a1.068 1.068 0 0 1-.123-.524c0-.244.064-.457.19-.639c.128-.181.304-.322.528-.422c.225-.1.484-.149.777-.149c.304 0 .564.05.779.152c.217.102.384.239.5.41c.12.17.186.359.2.566h-.75a.56.56 0 0 0-.12-.258a.624.624 0 0 0-.246-.181a.923.923 0 0 0-.37-.068c-.216 0-.387.05-.512.152a.472.472 0 0 0-.185.384c0 .121.048.22.144.3a.97.97 0 0 0 .404.175l.621.143c.217.05.406.12.566.211a1 1 0 0 1 .375.358c.09.148.135.335.135.56c0 .247-.063.466-.188.656a1.216 1.216 0 0 1-.539.439c-.234.105-.52.158-.858.158c-.254 0-.476-.03-.665-.09a1.404 1.404 0 0 1-.478-.252a1.13 1.13 0 0 1-.29-.375Zm-3.104-.033a1.32 1.32 0 0 1-.082-.466h.764a.576.576 0 0 0 .074.27a.499.499 0 0 0 .454.246c.19 0 .33-.055.422-.164c.091-.11.137-.265.137-.466v-2.745h.791v2.725c0 .44-.119.774-.357 1.005c-.237.23-.565.345-.985.345a1.59 1.59 0 0 1-.568-.094a1.145 1.145 0 0 1-.407-.266a1.14 1.14 0 0 1-.243-.39Zm9.091-1.585v.522c0 .256-.039.47-.117.641a.862.862 0 0 1-.322.387a.877.877 0 0 1-.47.126a.883.883 0 0 1-.47-.126a.87.87 0 0 1-.32-.387a1.55 1.55 0 0 1-.117-.641v-.522c0-.258.039-.471.117-.641a.87.87 0 0 1 .32-.387a.868.868 0 0 1 .47-.129c.177 0 .333.043.47.129a.862.862 0 0 1 .322.387c.078.17.117.383.117.641Zm.803.519v-.513c0-.377-.069-.701-.205-.973a1.46 1.46 0 0 0-.59-.63c-.253-.146-.559-.22-.916-.22c-.356 0-.662.074-.92.22a1.441 1.441 0 0 0-.589.628c-.137.271-.205.596-.205.975v.513c0 .375.068.699.205.973c.137.271.333.48.589.626c.258.145.564.217.92.217c.357 0 .663-.072.917-.217c.256-.146.452-.355.589-.626c.136-.274.205-.598.205-.973Zm1.29-.935v2.675h-.746v-3.999h.662l1.752 2.66h.032v-2.66h.75v4h-.656l-1.761-2.676h-.032Z"/></svg>
      </a>
      <a href="https://script.googleusercontent.com/macros/echo?user_content_key=D2UZvSUDHiNO643Uqs72AKRsdfKwdHlbxPOLts0-hGRnfg4hK-duBsLWTA39aDRAW2JOVFf0Pyy0IGx03vQDtuB4dq9_lmPTm5_BxDlH2jW0nuo2oDemN9CCS2h10ox_1xSncGQajx_ryfhECjZEnLKQD0xlRdQNORBeubHhskJtf2UCBubGj2B2xfutiOdgkRnT3lsoHqFVKfrWto-uf_VFUtiN9nc_zwS1fN0fcKGlHOSTBWM63dz9Jw9Md8uu&lib=McmiJzxE192vUTCqyMMT_iInk_TX2PQ6s" target="_blank" aria-label="GitHub">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 16 16"><path fill="currentColor" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59c.4.07.55-.17.55-.38c0-.19-.01-.82-.01-1.49c-2.01.37-2.53-.49-2.69-.94c-.09-.23-.48-.94-.82-1.13c-.28-.15-.68-.52-.01-.53c.63-.01 1.08.58 1.23.82c.72 1.21 1.87.87 2.33.66c.07-.52.28-.87.51-1.07c-1.78-.2-3.64-.89-3.64-3.95c0-.87.31-1.59.82-2.15c-.08-.2-.36-1.02.08-2.12c0 0 .67-.21 2.2.82c.64-.18 1.32-.27 2-.27c.68 0 1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82c.44 1.1.16 1.92.08 2.12c.51.56.82 1.27.82 2.15c0 3.07-1.87 3.75-3.65 3.95c.29.25.54.73.54 1.48c0 1.07-.01 1.93-.01 2.2c0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/></svg>
      </a>
    </div>
  </footer>
</MainLayout>

<script>
const lists = document.querySelectorAll('.list');

lists.forEach((list) => {
  const toggleButton = list.querySelector('button');
  const ofItems = list.querySelectorAll('.of-items');

  toggleButton.addEventListener('click', () => {
    setTimeout(() => {
      if (toggleButton.classList.contains('active')) {
        ofItems.forEach((item) => {
          item.classList.add('hidden');
        });
      } else {
        ofItems.forEach((item) => {
          item.classList.remove('hidden');
        });
      }
    }, 0);
  });
});

// refresh page on click to fetch the data visually
function refreshPage() {
  location.reload();
}

const refreshButton = document.querySelector('.refresh');

refreshButton.addEventListener('click', () => {
  refreshPage();
});
</script>