---
// layout imports
import MainHead from '../layout/MainHead.astro';

// css imports
import '../styles/global.scss';

const { title, description } = Astro.props;
---

<html lang="en">
    <MainHead {title} {description}/>
	<body>
        <main>
            <slot/>
        </main>
    </body>
</html>