<div class="background"></div>

<style>
    .background {
        position: absolute;
        inset: 0;
        z-index: -5;

        background-image: url(https://learnastro.dev/_astro/square.4c6b0a00_2sKyg3.svg);
        -webkit-mask-image: radial-gradient(rgba(0,0,0,.5),transparent 70%);
        mask-image: radial-gradient(rgba(0,0,0,.5),transparent 70%);

        pointer-events: none;
        overflow: hidden;
    }
</style>