<div class="noise"></div>

<style>
    .noise {
        position: absolute;
        inset: 0;
        z-index: 0;
        opacity: .15;
        
        background-image: url(https://learnastro.dev/_astro/noise.b76bcdf4_Z2dIGX6.avif);
        
        pointer-events: none;
    }
</style>